body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

#tasks,
#completed {
  padding-inline-start: 0;
}

#tasks li {
  list-style: none;
  padding-top: 5px;
}

#tasks li:hover {
  cursor: pointer;
}

#divider {
  width: full;
  height: 10px;
  background-color: red;
}

.completedTask {
  list-style: none;
  text-decoration: line-through;
  opacity: 0.8;
  cursor: pointer;
}

#taskInput {
  border: none;
  border-bottom: 1px solid black;
}

#add {
  font-size: x-large;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
#add:hover {
  transform: rotate(360deg);
}
